/* nav style */


.open-sans-primary> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.logo{
    font-size: 32px;
    color: #4E47FF; 
    font-weight: 1000;
}


nav{
    display: flex;
    align-items:center;
    justify-items: center;
}