
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* share style */

.btn-primary{
background-color: #4E47FF;
color: white;
font-size: 16px;
font-weight: bold;
border: none;
padding: 12px 36px 12px 36px;
border-radius: 10px;
}

/* header style */

header {
    background-image: url(../Assets/Hero-bg.png);
    width: 1400px; height: 698px;

}
/* nav style */


.logo{
    font-size: 32px;
    color: #4E47FF; 
    font-weight: 1000;
}


nav{
    display: flex;
    align-items:center;
    text-decoration: none;
    justify-content: space-between ;
    margin: 0px 150px 0px 150px;
}

nav ul li {
    list-style: none;
}

/* banner style */
.banner-title{
    color: black;
    font-size: 65px;
    font-weight: bold;
}

.banner-container {
    text-align: center;
    margin: 204px 267.5px 152px 267.5px;
}

/* action-section style */
.action {
    display: flex;
}

.action-part {
    margin: 0px 159px 0px 141px;
}

.action-tile {
    font-size: 42px;
    font-weight: bold;
}

.action-subtile {
    font-size: 24px;
    font-weight: normal;
}

/* user-section style */

.users-section{
max-width: 1140px; max-height: 306px;
margin: 0px 150px;
background-color: #e4e7ff;
text-align: center;
padding: 50px 142px;
border-radius: 10px;
}

.user-section-list {
    display: flex;
    justify-content: space-around;

}

.list-title{
    font-size: 70px;
    font-weight: bold;
    color: #4E47FF; 
}

.users-section-title {
    font-size: 30px;
    font-weight: bold;
}

/* touch-section style */

.touch-section {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.touch-section-form {
    width: 50%;
}
.touch-section input[type="text"], .touch-section input[type="email"], touch-section textarea {
  height: 64px; 
  border-radius: 5px; 
  background-color: white;
  display:block;
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 24px;
  border: none;
}

.touch-section-title {
    font-size: 70px;
}

.touch-section{
max-width: 1140px; max-height: 306px;
margin: 20px 150px;
background-color: #e4e7ff;
text-align: center;
padding: 50px 142px;
border-radius: 10px;
}